html, body {
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
  width: 80%;
}

/* Underline effect */
.underline {
  position: relative;
  width: fit-content;
  padding-bottom: 3px;
}
.underline::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: 0.35s;
}
.underline:hover{
  color: #313;  
}
.underline:hover::before {
  width: 100%;
}

/* Elevate Effect */
.elevate {
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}
.elevate:hover,
.elevate:active{
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23) !important;
  transform: translateY(-5px) !important;
}

/* Footer */
footer {
  text-align: center;
  color: #919091;
  background-color: #000;
  border-top: 1px solid #444;
  padding: 1em;
}

@media screen and (max-width: 900px) {
  .content {
    width: 90%;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}