/* Hero Banner */
.hero_banner {
  background: rgb(222,217,223);
  background: linear-gradient(90deg, rgba(222,217,223,1) 0%, rgba(251,187,239,1) 47%, rgba(225,238,250,1) 100%);
}
.banner_title {
  font-size: 4rem;
  font-weight: bolder;
}